@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&family=Inter:wght@300;400;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark-theme {
    --color-primary: #08080b;
    --color-secondary: #fafafa;
    --color-tertiary: #27272a;
    --color-quaternary: #27272a;
    --color-translucid: rgba(39, 39, 42, 0.7);

    --gradient-sunset-one: rgba(255, 128, 190, 1);
    --gradient-sunset-two: rgba(239, 96, 96, 1);
    --gradient-sunset-three: rgba(255, 201, 33, 1);

    --gradient-hyper-one: rgba(249, 168, 212, 1);
    --gradient-hyper-two: rgba(216, 180, 254, 1);
    --gradient-hyper-three: rgba(129, 140, 248, 1);

    --gradient-candy-one: rgba(204, 156, 252, 1);
    --gradient-candy-two: rgba(230, 172, 115, 1);
    --gradient-candy-three: rgba(255, 213, 46, 1);

    --gradient-mojave-one: rgb(254, 249, 195);
    --gradient-mojave-two: rgb(253, 224, 71);
    --gradient-mojave-three: rgb(234, 193, 0);

    --gradient-oceanic-one: rgba(134, 239, 172, 1);
    --gradient-oceanic-two: rgba(140, 184, 255, 1);
    --gradient-oceanic-three: rgba(194, 128, 255, 1);
  }
  .light-theme {
    --color-primary: #fafafa;
    --color-secondary: #08080b;
    --color-tertiary: #4b5563;
    --color-quaternary: #e4e4e7;
    --color-translucid: rgba(39, 39, 42, 0.7);

    --gradient-sunset-one: rgba(255, 128, 190, 1);
    --gradient-sunset-two: rgba(239, 96, 96, 1);
    --gradient-sunset-three: rgba(255, 201, 33, 1);

    --gradient-hyper-one: rgba(249, 168, 212, 1);
    --gradient-hyper-two: rgba(216, 180, 254, 1);
    --gradient-hyper-three: rgba(129, 140, 248, 1);

    --gradient-candy-one: rgba(204, 156, 252, 1);
    --gradient-candy-two: rgba(230, 172, 115, 1);
    --gradient-candy-three: rgba(255, 213, 46, 1);

    --gradient-mojave-one: rgb(254, 249, 195);
    --gradient-mojave-two: rgb(253, 224, 71);
    --gradient-mojave-three: rgb(234, 193, 0);

    --gradient-oceanic-one: rgba(134, 239, 172, 1);
    --gradient-oceanic-two: rgba(140, 184, 255, 1);
    --gradient-oceanic-three: rgba(194, 128, 255, 1);
  }
  h1 {
    @apply text-5xl font-extrabold md:text-6xl;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  a {
    @apply text-xs;
  }
}

@layer utilities {
  .gradient-hyper {
    @apply from-[var(--gradient-hyper-one)] via-[var(--gradient-hyper-two)] to-[var(--gradient-hyper-three)];
  }
  .gradient-oceanic {
    @apply from-[var(--gradient-oceanic-one)] via-[var(--gradient-oceanic-two)] to-[var(--gradient-oceanic-three)];
  }
  .gradient-candy {
    @apply from-[var(--gradient-candy-one)] via-[var(--gradient-candy-two)] to-[var(--gradient-candy-three)];
  }
  .gradient-mojave {
    @apply from-[var(--gradient-mojave-one)] via-[var(--gradient-mojave-two)] to-[var(--gradient-mojave-three)];
  }
  .gradient-sunset {
    @apply from-[var(--gradient-sunset-one)] via-[var(--gradient-sunset-two)] to-[var(--gradient-sunset-three)];
  }
}
